# vim:ft=make:

DAEMON_automountd_COMMAND?=/usr/sbin/autmountd
DAEMON_automountd_ENABLE?=no
DAEMON_automountd_MODULES=autofs

automountd: _service # nfsclient -> DAEMON
	test -z "$${DAEMON_$@_ENABLE}" || /usr/sbin/automount
