# vim:ft=make:

DAEMON_devd_COMMAND?=/sbin/devd
DAEMON_devd_FLAGS?=-dq

devd: _service ifconfig
.if !empty(DAEMON_devd_ENABLE:tl:Mno)
	sysctl hw.bus.devctl_disable=1
.endif
